.loadingContainer {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: calc(100vh - 100px);
}
.marketLoadingContainer {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 200px;
}
